<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="icon" href="/images/logo.png">

<main>

  <section id="heading" class="fixed-bg-1 " style="">
    <div class="container">
        <div class="left">
            <img src="/images/zha.png" alt="">
        </div>
        <div class="right">
            விதைக்குள் விருட்சம்
        </div>
    </div>
  </section>

  <section class="gj do ir hj sp jr i pg" style="height: 100vh;">
    <!-- Hero Images -->
    <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
      <!-- <img src="images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
      <img src="images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />
      <img src="images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />
      <img src="images/shape-04.svg" alt="shape" class="h q r" /> -->
      <img src="images/full-logo.jpeg" alt="Logo" class="h q r ua" style="height: 600px; margin: 120px;"/> 
    </div>

    <!-- Hero Content -->
    <div class="bb ze ki xn 2xl:ud-px-0">
      <div class="tc _o">
        <div class="animate_left jn/2">
          <h1 class="fk vj zp or kk wm wb">
            தமிழால் வாழ்வோம் தமிழ் கவிதையால் இணைவோம் <br> வாழ்க தமிழ்!
          </h1>
          <p class="fq">
            செம்மொழியாம் தமிழ் மொழி மீது கொண்ட ஈர்ப்பின் காரணமாக இந்த கவிதை இணையதளம் படைக்கப்பட்டது. கவிதை என்பது எண்ணங்களின் பிரதிபலிப்பு. எளிய முறையில் கருத்துக்களையும் தகவல்களையும் பகிரும் இணைப்பு பாலம்.
            <br><br>
            விதைக்குள் ஒரு விருட்சம் <span style="color: rgb(231, 13, 13);">என்ற இந்த இணைய தளம் ஒவ்வொரு தமிழ் உள்ளங்களையும் இணைக்க எடுத்த முயற்சியாகும் </span>
          </p>

          <div class="tc tf yo zf mb">
            <a href="#posts" class="ek jk lk gh gi hi rg ml il vc _d _l" style="max-height: 65px;">கவிதைகள்</a>

            <span class="tc sf">
              <a href="#" class="inline-block ek xj kk wm"> கைபேசி எண்: 94449 27111 </a>
              <span class="inline-block" style="color: rgb(231, 13, 13);">என் படைப்பில் தவறுகள் இருந்தால் சுட்டிக்காட்டுங்கள் என்னை திருத்திக் கொள்ள உதவும் </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== Hero End ===== -->

    <!-- ===== Blog Start ===== -->
    <section class="ji gp uq fixed-bg-2" id="posts">
    <!-- Section Title Start -->
    <div
      x-data="{ sectionTitle: `புதிய​ கவிதைகள்`, sectionTitleText: ``}"
    >
      <div class="animate_top bb ze rj ki xn vq">
      <h2
              x-text="sectionTitle"
              class="fk vj pr kk wm on/5 gq/2 bb _b white-heading"
      >
      </h2>
      <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
      </div>


    </div>
    <!-- Section Title End -->

    <div class="bb ye ki xn vq jb jo">
      <div class="wc qf pn xo zf iq">
        <% if (newPosts[0]) { %>
          <% for (post of newPosts) { %>
            <div class="animate_top sg vk rm xm post-card">
              <div class="c rc i z-1 pg">
                <% if (post.category == 'valkkai') { %>
                  <img class="w-full" src="images/valkkai.jpg" alt="Blog" />
                <% } else if (post.category == 'kadhal') { %>
                  <img class="w-full" src="images/kadhal.jpg" alt="Blog" />
                <% } else if (post.category == 'natpu') { %>
                  <img class="w-full" src="images/natpu.jpg" alt="Blog" />
                <% } else if (post.category == 'iyarkai') { %>
                  <img class="w-full" src="images/iyarkai.jpg" alt="Blog" />
                <% } else if (post.category == 'thathuvam') { %>
                  <img class="w-full" src="images/thathuvam.jpeg" alt="Blog" />
                <% } else if (post.category == 'thesapatru') { %>
                  <img class="w-full" src="images/thesapatru.jpg" alt="Blog" />
                <% } else if (post.category == 'ookkam') { %>
                  <img class="w-full" src="images/ookam.jpg" alt="Blog" />
                <% } else if (post.category == 'uravu') { %>
                  <img class="w-full" src="images/uravu.jpg" alt="Blog" />
                <% } else { %>
                  <img class="w-full" src="images/others.png" alt="Blog" />
                <% } %>
                <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                  <a href="posts/view/<%=post._id%>" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                </div>
              </div>

              <div class="yh">
                <h4 class="ek tj ml il kk wm xl eq vb">
                  <a href="posts/view/<%=post._id%>"><%= post.heading %></a>
                </h4>
                <div class="tc uf wf ag jq yf">
                  <div class="tc wf ag">
                    <img src="images/heart.svg" alt="Heart" width="15px"/>
                    <p><%= post.likes_count %> Likes</p>
                  </div>
                  <div class="tc wf ag">
                    <img src="images/icon-calender.svg" alt="Calender" />
                    <p>
                      <%let date = new Date(post.createdAt);%>
                      <%=date.toLocaleDateString('en-GB')%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <h4>No poems posted yet.</h4>
        <% } %>
      </div>
    </div>
  </section>
  <!-- ===== Blog End ===== -->

  <section class="ji gp uq" id="posts">
    <!-- Section Title Start -->
    <div x-data="{ sectionTitle: `அதிகம் பிடித்த கவிதைகள்`, sectionTitleText: ``}">
      <div
      x-data="{ sectionTitle: `அதிகம் பிடித்த கவிதைகள்`, sectionTitleText: ``}"
    >
      <div class="animate_top bb ze rj ki xn vq">
        <h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b"></h2>
        <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
      </div>

    </div>
    <!-- Section Title End -->

    <div class="bb ye ki xn vq jb jo">
      <div class="wc qf pn xo zf iq">
        <% if (mostLikedPosts[0]) { %>
          <% for (post of mostLikedPosts) { %>
            <div class="animate_top sg vk rm xm">
              <div class="c rc i z-1 pg">
                <img class="w-full" src="images/boy-studying.avif" alt="Blog" />

                <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                  <a href="posts/view/<%=post._id%>" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                </div>
              </div>

              <div class="yh">
                <h4 class="ek tj ml il kk wm xl eq vb">
                  <a href="posts/view/<%=post._id%>"><%= post.heading %></a>
                </h4>
                <div class="tc uf wf ag jq yf">
                  <div class="tc wf ag">
                    <img src="images/heart.svg" alt="Heart" width="15px"/>
                    <p><%= post.likes_count %> Likes</p>
                  </div>
                  <div class="tc wf ag">
                    <img src="images/icon-calender.svg" alt="Calender" />
                    <p>
                      <%let date = new Date(post.createdAt);%>
                      <%=date.toLocaleDateString('en-GB')%>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <h4>No poems posted yet.</h4>
        <% } %>
      </div>
    </div>
  </section>

  <!-- ===== About Start ===== -->
  <!-- <section class="ji gp uq 2xl:ud-py-35 pg">
    <div class="bb ze ki xn wq">
      <div class="tc wf gg qq">
        <div class="animate_left xc gn gg jn/2 i">
          <div>
            <img src="images/shape-05.svg" alt="Shape" class="h -ud-left-5 x" />
            <img src="images/about-01.png" alt="About" class="ib" />
            <img src="images/about-02.png" alt="About" />
          </div>
          <div>
            <img src="images/shape-06.svg" alt="Shape" />
            <img src="images/about-03.png" alt="About" class="ob gb" />
            <img src="images/shape-07.svg" alt="Shape" class="bb" />
          </div>
        </div>

        <div class="animate_right jn/2">
          <h4 class="ek yj mk gb">Why Choose Us</h4>
          <h2 class="fk vj zp pr kk wm qb">We Make Our customers happy by giving Best services.</h2>
          <p class="uo">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>

          <a href="https://www.youtube.com/watch?v=xcJtL7QggTI" data-fslightbox class="vc wf hg mb">
            <span class="tc wf xf be dd rg i gh ua">
              <span class="nf h vc yc vd rg gh qk -ud-z-1"></span>
              <img src="images/icon-play.svg" alt="Play" />
            </span>
            <span class="kk">SEE HOW WE WORK</span>
          </a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ===== About End ===== -->
  
    
  <!-- <section class="pg pj vp mr oj wp nr">
    <div
      x-data="{ sectionTitle: `அணைத்து கவிதைகள்`, sectionTitleText: `விதைக்குள் ஒரு விருட்சம் மீண்டும் வித்தாகும் பல விருட்சங்கள்.`}"
    >
      <div class="animate_top bb ze rj ki xn vq">
    <h2
          x-text="sectionTitle"
          class="fk vj pr kk wm on/5 gq/2 bb _b"
    >
    </h2>
    <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
    </div>


    </div>

    <div class="bb ze ki xn 2xl:ud-px-0 jb">
      <iframe src="https://online.fliphtml5.com/lexlz/tkfq/" style="width: 100%;height: 80vh; border: none;" loading="lazy"></iframe>
    </div>
  </section> -->
  

  <!-- ===== Projects Start ===== -->
  <!-- <section class="pg pj vp mr oj wp nr">
    <div
      x-data="{ sectionTitle: `அணைத்து கவிதைகள்`, sectionTitleText: `விதைக்குள் ஒரு விருட்சம் மீண்டும் வித்தாகும் பல விருட்சங்கள்.`}"
    >
      <div class="animate_top bb ze rj ki xn vq">
    <h2
          x-text="sectionTitle"
          class="fk vj pr kk wm on/5 gq/2 bb _b"
    >
    </h2>
    <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
    </div>


    </div>

    <div class="bb ze ki xn 2xl:ud-px-0 jb" x-data="{filterTab: 1}">
      <div
        class="projects-tab _e bb tc uf wf xf cg rg hh rm vk xm si ti fc"
      >
        <button
          data-filter="*"
          @click="filterTab = 1"
          :class="{ 'gh lk' : filterTab === 1 }"
          class="project-tab-btn ek rg ml il vi mi"
        >
          All
        </button>
        <button
          data-filter=".branding"
          @click="filterTab = 2"
          :class="{ 'gh lk' : filterTab === 2 }"
          class="project-tab-btn ek rg ml il vi mi"
        >
        வாழ்க்கை
        </button>
        <button
          data-filter=".digital"
          @click="filterTab = 3"
          :class="{ 'gh lk' : filterTab === 3 }"
          class="project-tab-btn ek rg ml il vi mi"
        >
        உறவு
        </button>
        <button
          data-filter=".ecommerce"
          @click="filterTab = 4"
          :class="{ 'gh lk' : filterTab === 4 }"
          class="project-tab-btn ek rg ml il vi mi"
        >
        நட்பு
        </button>
      </div>

      <div class="projects-wrapper tc -ud-mx-5">
        <div class="project-sizer"></div>
        <div class="project-item wi fb vd jn/2 to/3 branding ecommerce">
          <div class="c i pg sg z-1">
            <img src="images/project-01.png" alt="Project" />

            <div 
              class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10"
            >
              <h4 class="ek tj kk hc">கவிதை தலைப்பு</h4>
              <p>அ. முத்துவேழப்பன்</p>
              <a
                class="c tc wf xf ie ld rg _g dh ml il ph jm km jc"
                href="#"
              >
                <svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z" />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="project-item wi fb vd jn/2 to/3 digital">
          <div class="c i pg sg z-1">
            <img src="images/project-02.png" alt="Project" />

            <div
              class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10"
            >
              <h4 class="ek tj kk hc">கவிதை தலைப்பு</h4>
              <p>அ. முத்துவேழப்பன்</p>
              <a
                class="c tc wf xf ie ld rg _g dh ml il ph jm km jc"
                href="#"
              >
                <svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z" />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="project-item wi fb vd jn/2 to/3 branding ecommerce">
          <div class="c i pg sg z-1">
            <img src="images/project-04.png" alt="Project" />

            <div
              class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10"
            >
              <h4 class="ek tj kk hc">கவிதை தலைப்பு</h4>
              <p>அ. முத்துவேழப்பன்</p>
              <a
                class="c tc wf xf ie ld rg _g dh ml il ph jm km jc"
                href="#"
              >
                <svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z" />
                </svg>
              </a>
            </div>
          </div>
        </div>

        <div class="project-item wi fb vd vo/3 digital ecommerce">
          <div class="c i pg sg z-1">
            <img src="images/project-03.png" alt="Project" />

            <div
              class="h s r df nl kl im tc sf wf xf vd yc sg al hh/20 z-10"
            >
              <h4 class="ek tj kk hc">கவிதை தலைப்பு</h4>
              <p>அ. முத்துவேழப்பன்</p>
              <a
                class="c tc wf xf ie ld rg _g dh ml il ph jm km jc"
                href="#"
              >
                <svg class="th lm ml il" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.4763 6.16664L6.00634 1.69664L7.18467 0.518311L13.6663 6.99998L7.18467 13.4816L6.00634 12.3033L10.4763 7.83331H0.333008V6.16664H10.4763Z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ===== Projects End ===== -->

  <!-- ===== Contact Start ===== -->
  <section id="contact" class="i pg fh rm ji gp uq">
    <!-- Bg Shapes -->
    <img src="images/shape-06.svg" alt="Shape" class="h aa y" />
    <img src="images/shape-03.svg" alt="Shape" class="h ca u" />
    <img src="images/shape-07.svg" alt="Shape" class="h w da ee" />
    <img src="images/shape-12.svg" alt="Shape" class="h p s" />
    <img src="images/shape-13.svg" alt="Shape" class="h r q" />

    <!-- Section Title Start -->
    <div
      x-data="{ sectionTitle: `தொடர்பு கொள்ள​`, sectionTitleText: `நீங்களும் கவிதை எழுதலாம்! நேரத்தை ஒதுக்கினால், நேர்த்தியாய் சிந்தித்தால், வாசித்துப் பழகுங்கள் யோசித்துப் பழகுங்கள் எழுதி பழகுங்கள் தங்கள் படைப்புகளை பகிர்ந்து பழகுங்கள் `}"
    >
      <div class="animate_top bb ze rj ki xn vq">
<h2
        x-text="sectionTitle"
        class="fk vj pr kk wm on/5 gq/2 bb _b"
>
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>


    </div>
    <!-- Section Title End -->

    <div class="i va bb ye ki xn wq jb mo">
      <div class="tc uf sn tf rn un zf xl:gap-10">
        <div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg">
          <!-- Bg Shapes -->
          <img src="images/shape-03.svg" alt="Shape" class="h la x wd" />
          <img src="images/shape-06.svg" alt="Shape" class="h la ma ne kf" />

          <div class="fb">
            <h4 class="wj kk wm cc">Email Address</h4>
            <p><a href="#">mvezhappan@gmail.com</a></p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Home Location</h4>
            <p>Chennai, Tamil Nadu, India.</p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Phone Number</h4>
            <p><a href="#">94449 27111</a></p>
          </div>
          <!-- <div class="fb">
            <h4 class="wj kk wm cc">Skype Email</h4>
            <p><a href="#">example@yourmail.com</a></p>
          </div> -->

          <span class="rc nd rh tm lc fb"></span>

          <div>
            <h4 class="wj kk wm qb">Social Media</h4>
            <ul class="tc wf fg">
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.83366 11.3752H9.12533L10.042 7.7085H6.83366V5.87516C6.83366 4.931 6.83366 4.04183 8.667 4.04183H10.042V0.96183C9.74316 0.922413 8.61475 0.833496 7.42308 0.833496C4.93433 0.833496 3.16699 2.35241 3.16699 5.14183V7.7085H0.416992V11.3752H3.16699V19.1668H6.83366V11.3752Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.3153 2.18484C18.6155 2.4944 17.8733 2.6977 17.1134 2.78801C17.9144 2.30899 18.5138 1.55511 18.8001 0.666844C18.0484 1.11418 17.2244 1.42768 16.3654 1.59726C15.7885 0.979958 15.0238 0.57056 14.1901 0.432713C13.3565 0.294866 12.5007 0.436294 11.7558 0.835009C11.0108 1.23372 10.4185 1.86739 10.0708 2.63749C9.72313 3.40759 9.63963 4.27098 9.83327 5.09343C8.30896 5.01703 6.81775 4.62091 5.45645 3.93079C4.09516 3.24067 2.89423 2.27197 1.93161 1.08759C1.59088 1.67284 1.41182 2.33814 1.41278 3.01534C1.41278 4.34451 2.08928 5.51876 3.11778 6.20626C2.50912 6.1871 1.91386 6.02273 1.38161 5.72685V5.77451C1.38179 6.65974 1.68811 7.51766 2.24864 8.20282C2.80916 8.88797 3.58938 9.3582 4.45703 9.53376C3.89201 9.68688 3.29956 9.70945 2.72453 9.59976C2.96915 10.3617 3.44595 11.0281 4.08815 11.5056C4.73035 11.9831 5.50581 12.2478 6.30594 12.2627C5.51072 12.8872 4.60019 13.3489 3.62642 13.6213C2.65264 13.8938 1.63473 13.9716 0.630859 13.8503C2.38325 14.9773 4.4232 15.5756 6.50669 15.5737C13.5586 15.5737 17.415 9.73176 17.415 4.66535C17.415 4.50035 17.4104 4.33351 17.4031 4.17035C18.1537 3.62783 18.8016 2.95578 19.3162 2.18576L19.3153 2.18484Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4.36198 2.58327C4.36174 3.0695 4.16835 3.53572 3.82436 3.87937C3.48037 4.22301 3.01396 4.41593 2.52773 4.41569C2.0415 4.41545 1.57528 4.22206 1.23164 3.87807C0.887991 3.53408 0.69507 3.06767 0.695313 2.58144C0.695556 2.09521 0.888943 1.62899 1.23293 1.28535C1.57692 0.941701 2.04333 0.748781 2.52956 0.749024C3.01579 0.749267 3.48201 0.942654 3.82566 1.28664C4.1693 1.63063 4.36222 2.09704 4.36198 2.58327ZM4.41698 5.77327H0.750313V17.2499H4.41698V5.77327ZM10.2103 5.77327H6.56198V17.2499H10.1736V11.2274C10.1736 7.87244 14.5461 7.56077 14.5461 11.2274V17.2499H18.167V9.98077C18.167 4.32494 11.6953 4.53577 10.1736 7.31327L10.2103 5.77327Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
          <form action="#" method="POST">
            <div class="tc sf yo ap zf ep qb">
              <div class="vd to/2">
                <label class="rc ac" for="fullname">Full name</label>
                <input
                  type="text"
                  name="fullname"
                  id="fullname"
                  placeholder="Muthu Vezhappan"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>

              <div class="vd to/2">
                <label class="rc ac" for="email">Email address</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@gmail.com"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>
            </div>

            <div class="tc sf yo ap zf ep qb">
              <div class="vd to/2">
                <label class="rc ac" for="phone">Phone number</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="+91 96262 44242"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>

              <div class="vd to/2">
                <label class="rc ac" for="subject">Subject</label>
                <input
                  type="text"
                  for="subject"
                  id="subject"
                  placeholder="Type your subject"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>
            </div>

            <div class="fb">
              <label class="rc ac" for="message">Message</label>
              <textarea
                placeholder="Message"
                rows="4"
                name="message"
                id="message"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"
              ></textarea>
            </div>

            <div class="tc xf">
              <button class="vc rg lk gh ml il hi gi _l">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== Contact End ===== -->

</main>

<script defer src="javascripts/bundle.js"></script>