<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="icon" href="images/logo.png">

<!-- ===== Blog Single Start ===== -->
<section class="gj qp gr hj rp hr">
  <div class="bb ze ki xn 2xl:ud-px-0">
    <div class="tc sf yo zf kq">
      <div class="ro">
        <div class="animate_top rounded-md shadow-solid-13 bg-white dark:bg-blacksection border border-stroke dark:border-strokedark p-7.5 md:p-10">
          <% if (post.category == 'valkkai') { %>
            <img src="images/valkkai.jpg" alt="Blog" />
          <% } else if (post.category == 'kadhal') { %>
            <img src="images/kadhal.jpg" alt="Blog" />
          <% } else if (post.category == 'natpu') { %>
            <img src="images/natpu.jpg" alt="Blog" />
          <% } else if (post.category == 'iyarkai') { %>
            <img src="images/iyarkai.jpg" alt="Blog" />
          <% } else if (post.category == 'thathuvam') { %>
            <img src="images/thathuvam.jpeg" alt="Blog" />
          <% } else if (post.category == 'thesapatru') { %>
            <img src="images/thesapatru.jpg" alt="Blog" />
          <% } else if (post.category == 'ookkam') { %>
            <img src="images/ookam.jpg" alt="Blog" />
          <% } else if (post.category == 'uravu') { %>
            <img src="images/uravu.jpg" alt="Blog" />
          <% } else { %>
            <img src="images/others.png" alt="Blog" />
          <% } %>

          <h2 class="ek vj 2xl:ud-text-title-lg kk wm nb gb"><%=post.heading%></h2>
          <% if (locals.user) { %>
            <% if (locals.user.name == 'Muthuvezhappan') { %>
              <h2 class="ek vj 2xl:ud-text-title-lg kk wm gb" style="color: red; text-decoration: underline;"><a href="/posts/delete/<%= post._id %>">DELETE</a></h2>
            <% } %>
          <% } %>

          <ul class="tc uf cg 2xl:ud-gap-15 fb">
            <li><span class="rc kk wm">Author: </span> அ. முத்துவேழப்பன்</li>
            <li><span class="rc kk wm">Published On: </span> <%let date = new Date(post.createdAt);%>
              <%=date.toLocaleDateString('en-GB')%></li>
            <li><span class="rc kk wm">Category: </span> <%=post.category%></li>
            <li><span class="rc kk wm">Views: </span> <%=post.views%></li>
          </ul>

          <p style="white-space:pre; width: auto;">
            <%=post.content%>
          </p>
          <div class="likes tc rn">
            <!-- <div class="tc sf xf"> <div class="ek vj kk wm">Likes: </div></div> -->
          <% if (locals.user) { %>
            <div class="heart" id="like-post" data-likes="<%= post.likes_count %>"></div>
          <% } else { %>
            <div class="heart always-active" id="like-post"></div>
          <% } %>
            <div class="tc sf xf"> <div class="ek vj kk wm likes-count"><%= post.likes_count %> Likes </div></div>
          </div>

          <% if (locals.user) { %>
            <div class="i va bb ye jb">
              <form action="/comments/add" method="POST">
                <div class="fb">
                  <h2 class="ek vj 2xl:ud-text-title-lg kk wm nb gb">Please add your comments</h2>
                  <textarea
                  placeholder="Type comment here..."
                  rows="2"
                  name="content"
                  id="content"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"
                  ></textarea>
                </div>
                <input type="hidden" name="username" value="<%=locals.user.name%>">
                <input type="hidden" name="user" value="<%=locals.user._id%>">
                <input type="hidden" name="post" value="<%=post.id%>">
                <div class="tc xf">
                  <button class="vc rg lk gh ml il hi gi _l">Add Comment</button>
                </div>
              </form>
            </div>
          <% } %>
            
          <ul class="tc wf bg sb">
            <li>
              <p class="sj kk wm tb">Share On:</p>
            </li>
            <li>
              <a href="#" class="tc wf xf yd ad rg ml il ih wk">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_47_28)">
                <path d="M11.6663 11.25H13.7497L14.583 7.91663H11.6663V6.24996C11.6663 5.39163 11.6663 4.58329 13.333 4.58329H14.583V1.78329C14.3113 1.74746 13.2855 1.66663 12.2022 1.66663C9.93967 1.66663 8.33301 3.04746 8.33301 5.58329V7.91663H5.83301V11.25H8.33301V18.3333H11.6663V11.25Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_47_28">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="tc wf xf yd ad rg ml il jh wk">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_47_47)">
                <path d="M18.4683 4.71327C17.8321 4.99468 17.1574 5.1795 16.4666 5.26161C17.1947 4.82613 17.7397 4.14078 17.9999 3.33327C17.3166 3.73994 16.5674 4.02494 15.7866 4.17911C15.2621 3.61792 14.5669 3.24574 13.809 3.12043C13.0512 2.99511 12.2732 3.12368 11.596 3.48615C10.9187 3.84862 10.3802 4.42468 10.0642 5.12477C9.74812 5.82486 9.67221 6.60976 9.84825 7.35744C8.46251 7.28798 7.10686 6.92788 5.86933 6.30049C4.63179 5.67311 3.54003 4.79248 2.66492 3.71577C2.35516 4.24781 2.19238 4.85263 2.19326 5.46827C2.19326 6.67661 2.80826 7.74411 3.74326 8.36911C3.18993 8.35169 2.64878 8.20226 2.16492 7.93327V7.97661C2.16509 8.78136 2.44356 9.56129 2.95313 10.1842C3.46269 10.807 4.17199 11.2345 4.96075 11.3941C4.4471 11.5333 3.90851 11.5538 3.38576 11.4541C3.60814 12.1468 4.04159 12.7526 4.62541 13.1867C5.20924 13.6208 5.9142 13.8614 6.64159 13.8749C5.91866 14.4427 5.0909 14.8624 4.20566 15.1101C3.32041 15.3577 2.39503 15.4285 1.48242 15.3183C3.0755 16.3428 4.93 16.8867 6.82409 16.8849C13.2349 16.8849 16.7408 11.5741 16.7408 6.96827C16.7408 6.81827 16.7366 6.66661 16.7299 6.51827C17.4123 6.02508 18.0013 5.41412 18.4691 4.71411L18.4683 4.71327Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_47_47">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              </a>
            </li>
            <li>
              <a href="#" class="tc wf xf yd ad rg ml il lh wk">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_47_53)">
                <path d="M5.78353 4.16665C5.78331 4.60867 5.6075 5.03251 5.29478 5.34491C4.98207 5.65732 4.55806 5.8327 4.11603 5.83248C3.674 5.83226 3.25017 5.65645 2.93776 5.34373C2.62536 5.03102 2.44997 4.60701 2.4502 4.16498C2.45042 3.72295 2.62622 3.29912 2.93894 2.98671C3.25166 2.67431 3.67567 2.49892 4.1177 2.49915C4.55972 2.49937 4.98356 2.67517 5.29596 2.98789C5.60837 3.30061 5.78375 3.72462 5.78353 4.16665ZM5.83353 7.06665H2.5002V17.5H5.83353V7.06665ZM11.1002 7.06665H7.78353V17.5H11.0669V12.025C11.0669 8.97498 15.0419 8.69165 15.0419 12.025V17.5H18.3335V10.8916C18.3335 5.74998 12.4502 5.94165 11.0669 8.46665L11.1002 7.06665Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_47_53">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              </a>
            </li>
          </ul>

          <div class="i va bb ye jb">
            <h2 class="ek vj 2xl:ud-text-title-lg kk wm nb gb">Comments:</h2>

            <% if (comments[0]) { %>
              <% for (comment of comments) { %>
                <div class="ai">
                  <div class="tc uf wf ag jq">
                    <div class="tc wf ag">
                      <img src="images/icon-man.svg" alt="User" />
                      <p><%= comment.username %></p>
                    </div>
                  </div>
                  <h4 class="tj kk wm qb">
                    <% if (locals.user) { %>
                      <% if (locals.user.name == 'Muthuvezhappan' || locals.user.name == 'Muthuvezhappan') { %>
                        <span><a href="/comments/delete/<%= comment._id %>" class="red"> X </a></span>
                      <% } %>
                    <% } %>
                    <%= comment.content %>
                  </h4>
                </div>
              <% } %>
            <% } else { %>
              <h4>No comments added yet.</h4>
            <% } %>

          </div>
          

        </div>
      </div>

      <div class="jn/2 so">
        <!-- <div class="animate_top fb">
          <form action="#">
            <div class="i">
              <input
                type="text"
                placeholder="Search Here..."
                class="vd sm _g ch pm vk xm rg gm dm/40 dn/40 li mi"
              />

              <button class="h r q _h">
                <svg
                  class="th ul ml il"
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16.031 14.617L20.314 18.899L18.899 20.314L14.617 16.031C13.0237 17.3082 11.042 18.0029 9 18C4.032 18 0 13.968 0 9C0 4.032 4.032 0 9 0C13.968 0 18 4.032 18 9C18.0029 11.042 17.3082 13.0237 16.031 14.617ZM14.025 13.875C15.2941 12.5699 16.0029 10.8204 16 9C16 5.132 12.867 2 9 2C5.132 2 2 5.132 2 9C2 12.867 5.132 16 9 16C10.8204 16.0029 12.5699 15.2941 13.875 14.025L14.025 13.875Z"
                  />
                </svg>
              </button>
            </div>
          </form>
        </div> -->

        <!-- <div class="animate_top">
          <h4 class="tj kk wm qb">Related Posts</h4>

          <div>
            <div class="tc fg 2xl:ud-gap-6 qb">
              <img src="images/poor.jpeg" alt="Blog" style="width: 100px;" />
              <h5 class="wj kk wm xl bn ml il">
                <a href="#">ஏழையின் பசி</a>
              </h5>
            </div>
            <div class="tc fg 2xl:ud-gap-6 qb">
              <img src="images/anger.jpeg" alt="Blog" style="width: 100px;"/>
              <h5 class="wj kk wm xl bn ml il">
                <a href="#">சீற்றம்</a>
              </h5>
            </div>
            
          </div>
        </div> -->

        <!-- <div class="animate_top fb">
          <h4 class="tj kk wm qb">Categories</h4>

          <ul>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">வாழ்க்கை</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">காதல்</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">நட்பு</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">இயற்கை</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">தத்துவம்</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">தேசப்பற்று</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">ஊக்கம்</a>
            </li>
            <li class="ql vb du-ease-in-out il xl">
              <a href="#">பிற கவிதைகள்</a>
            </li>

          </ul>
        </div> -->

      </div>
    </div>
  </div>
</section>
<!-- ===== Blog Single End ===== -->

      <!-- ===== Contact Start ===== -->
  <section id="contact" class="i pg fh rm ji gp uq">
    <!-- Bg Shapes -->
    <img src="images/shape-06.svg" alt="Shape" class="h aa y" />
    <img src="images/shape-03.svg" alt="Shape" class="h ca u" />
    <img src="images/shape-07.svg" alt="Shape" class="h w da ee" />
    <img src="images/shape-12.svg" alt="Shape" class="h p s" />
    <img src="images/shape-13.svg" alt="Shape" class="h r q" />

    <!-- Section Title Start -->
    <div
      x-data="{ sectionTitle: `தொடர்பு கொள்ள​`, sectionTitleText: `நீங்களும் கவிதை எழுதலாம்! நேரத்தை ஒதுக்கினால், நேர்த்தியாய் சிந்தித்தால், வாசித்துப் பழகுங்கள் யோசித்துப் பழகுங்கள் எழுதி பழகுங்கள் தங்கள் படைப்புகளை பகிர்ந்து பழகுங்கள் `}"
    >
      <div class="animate_top bb ze rj ki xn vq">
      <h2
              x-text="sectionTitle"
              class="fk vj pr kk wm on/5 gq/2 bb _b"
      >
      </h2>
      <p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
      </div>


    </div>
    <!-- Section Title End -->

    <div class="i va bb ye ki xn wq jb mo">
      <div class="tc uf sn tf rn un zf xl:gap-10">
        <div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg">
          <!-- Bg Shapes -->
          <img src="images/shape-03.svg" alt="Shape" class="h la x wd" />
          <img src="images/shape-06.svg" alt="Shape" class="h la ma ne kf" />

          <div class="fb">
            <h4 class="wj kk wm cc">Email Address</h4>
            <p><a href="#">mvezhappan@gmail.com</a></p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Home Location</h4>
            <p>Chennai, Tamil Nadu, India.</p>
          </div>
          <div class="fb">
            <h4 class="wj kk wm cc">Phone Number</h4>
            <p><a href="#">94449 27111</a></p>
          </div>

          <span class="rc nd rh tm lc fb"></span>

          <div>
            <h4 class="wj kk wm qb">Social Media</h4>
            <ul class="tc wf fg">
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M6.83366 11.3752H9.12533L10.042 7.7085H6.83366V5.87516C6.83366 4.931 6.83366 4.04183 8.667 4.04183H10.042V0.96183C9.74316 0.922413 8.61475 0.833496 7.42308 0.833496C4.93433 0.833496 3.16699 2.35241 3.16699 5.14183V7.7085H0.416992V11.3752H3.16699V19.1668H6.83366V11.3752Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.3153 2.18484C18.6155 2.4944 17.8733 2.6977 17.1134 2.78801C17.9144 2.30899 18.5138 1.55511 18.8001 0.666844C18.0484 1.11418 17.2244 1.42768 16.3654 1.59726C15.7885 0.979958 15.0238 0.57056 14.1901 0.432713C13.3565 0.294866 12.5007 0.436294 11.7558 0.835009C11.0108 1.23372 10.4185 1.86739 10.0708 2.63749C9.72313 3.40759 9.63963 4.27098 9.83327 5.09343C8.30896 5.01703 6.81775 4.62091 5.45645 3.93079C4.09516 3.24067 2.89423 2.27197 1.93161 1.08759C1.59088 1.67284 1.41182 2.33814 1.41278 3.01534C1.41278 4.34451 2.08928 5.51876 3.11778 6.20626C2.50912 6.1871 1.91386 6.02273 1.38161 5.72685V5.77451C1.38179 6.65974 1.68811 7.51766 2.24864 8.20282C2.80916 8.88797 3.58938 9.3582 4.45703 9.53376C3.89201 9.68688 3.29956 9.70945 2.72453 9.59976C2.96915 10.3617 3.44595 11.0281 4.08815 11.5056C4.73035 11.9831 5.50581 12.2478 6.30594 12.2627C5.51072 12.8872 4.60019 13.3489 3.62642 13.6213C2.65264 13.8938 1.63473 13.9716 0.630859 13.8503C2.38325 14.9773 4.4232 15.5756 6.50669 15.5737C13.5586 15.5737 17.415 9.73176 17.415 4.66535C17.415 4.50035 17.4104 4.33351 17.4031 4.17035C18.1537 3.62783 18.8016 2.95578 19.3162 2.18576L19.3153 2.18484Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="c tc wf xf ie ld rg ml il tl">
                  <svg class="th lm ml il" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M4.36198 2.58327C4.36174 3.0695 4.16835 3.53572 3.82436 3.87937C3.48037 4.22301 3.01396 4.41593 2.52773 4.41569C2.0415 4.41545 1.57528 4.22206 1.23164 3.87807C0.887991 3.53408 0.69507 3.06767 0.695313 2.58144C0.695556 2.09521 0.888943 1.62899 1.23293 1.28535C1.57692 0.941701 2.04333 0.748781 2.52956 0.749024C3.01579 0.749267 3.48201 0.942654 3.82566 1.28664C4.1693 1.63063 4.36222 2.09704 4.36198 2.58327ZM4.41698 5.77327H0.750313V17.2499H4.41698V5.77327ZM10.2103 5.77327H6.56198V17.2499H10.1736V11.2274C10.1736 7.87244 14.5461 7.56077 14.5461 11.2274V17.2499H18.167V9.98077C18.167 4.32494 11.6953 4.53577 10.1736 7.31327L10.2103 5.77327Z"
                      fill=""
                    />
                  </svg>
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
          <form action="#" method="POST">
            <div class="tc sf yo ap zf ep qb">
              <div class="vd to/2">
                <label class="rc ac" for="fullname">Full name</label>
                <input
                  type="text"
                  name="fullname"
                  id="fullname"
                  placeholder="Muthu Vezhappan"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>

              <div class="vd to/2">
                <label class="rc ac" for="email">Email address</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@gmail.com"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>
            </div>

            <div class="tc sf yo ap zf ep qb">
              <div class="vd to/2">
                <label class="rc ac" for="phone">Phone number</label>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  placeholder="+91 96262 44242"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>

              <div class="vd to/2">
                <label class="rc ac" for="subject">Subject</label>
                <input
                  type="text"
                  for="subject"
                  id="subject"
                  placeholder="Type your subject"
                  class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi"
                />
              </div>
            </div>

            <div class="fb">
              <label class="rc ac" for="message">Message</label>
              <textarea
                placeholder="Message"
                rows="4"
                name="message"
                id="message"
                class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"
              ></textarea>
            </div>

            <div class="tc xf">
              <button class="vc rg lk gh ml il hi gi _l">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== Contact End ===== -->

  </div>
  <!-- Section Title End -->
</section>

<script defer src="javascripts/bundle.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
  let executed = false;
  $(function() {
  $(".heart").on("click", function(e) {
    if (!executed) {
      executed = true;
      $(this).addClass("is-active");
      let self = this;
      
      e.preventDefault();
      
      $.ajax({
        type: 'POST',
        url: '/like/<%=post.id%>',
      })
      .done(function(data) {
        
        let likesCount = parseInt($(self).attr('data-likes'));
        console.log(likesCount);
        likesCount += 1;
        
        $(self).attr('data-likes', likesCount);
        $(".likes-count").html(`${likesCount} Likes`);
        
      })
      .fail(function(errData) {
        console.log('error in completing the request');
      });
    }
  });
  });
</script>
